[Desktop Entry]
Type=Application
Name=Piano Booster
GenericName=Piano Teacher
Comment=Learn the piano just by playing a game
Icon=pianobooster
Exec=pianobooster %f
StartupNotify=true
Terminal=false
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Categories=Music;Education;
Keywords=audio;midi;music;piano;education;learning;playing;songs;


# Translations
Name[zh]=Piano Booster
Name[ca]=Piano Booster
Name[cs]=Piano Booster
Comment[cs]=Naučte se hře na klavír jednoduše hraním hry
GenericName[cs]=Učitel klavíru
Name[da]=Piano Booster
Comment[da]=Lær at spille piano ved bare at spille
Name[de]=Piano Booster
Comment[de]=Lerne das Klavier nur durch Spielen des Spiels
GenericName[de]=Pianolehrer
Name[el]=Δάσκαλος πιάνου
Name[es]=Piano Booster
Comment[es]=Aprender piano mientras juega
GenericName[es]=Profesor de piano
Name[et]=Piano Booster
Name[fi]=Piano Booster
Comment[fi]=Opi pianoa pelaamalla peliä
GenericName[fi]=Pianon opettaja
Name[fr]=Piano Booster
Comment[fr]=Apprendre le piano en jouant à un jeu
GenericName[fr]=Professeur de piano
Name[gl]=Piano Booster
Comment[gl]=Aprender piano mentres se xoga
GenericName[gl]=Profesor de piano
Name[hy]=Երաժշտական ծրագիր (Պիանո Բուստեր)
Name[is]=Píanó Booster
Comment[is]=Lærðu á píanó bara með því að spila leik
GenericName[is]=Píanókennari
Comment[it]=Imparare a suonare il pianoforte semplicemente giocando
Name[ja]=Piano Booster
Comment[ja]=ゲームをプレイするだけでピアノを練習
Comment[ko]=게임을 플레이하면서 피아노를 배운다
Name[ms]=Penggalak Piano
Name[my]=စန္ဒရားသင် အဆင့်မြှင့်
Name[nb]=Piano Booster
Name[nl]=Piano Booster
Comment[nl]=Leer pianospelen door het spelen van een spel
GenericName[nl]=Pianoleerprogramma
Name[pl]=Piano Booster
Comment[pl]=Naucz się gry na pianinie grając w grę
GenericName[pl]=Nauczyciel gry na pianinie
Name[pt]=Piano Booster
Comment[pt]=Aprenda piano apenas jogando um jogo
GenericName[pt]=Professor de Piano
Name[pt_BR]=Piano Booster
Comment[pt_BR]=Aprenda o piano apenas jogando
GenericName[pt_BR]=Professor de Piano
Name[ru]=Piano Booster
Comment[ru]=Изучайте пианино просто играя в игру
GenericName[ru]=Обучение пианино
Name[sr]=Наставик клавира
Name[sr@latin]=Nastavik klavira
Name[th]=Piano Booster เปียโน บู๊สเตอร์
Name[uk]=Piano Booster
Comment[uk]=Ігрова форма навчання гри на піаніно
GenericName[uk]=Навчання гри на піаніно
Name[vi]=Piano Booster
Name[zh_HK]=鋼琴助推器
Comment[zh_HK]=通過玩遊戲來學習鋼琴
GenericName[zh_HK]=鋼琴老師
