[Desktop Entry]
Name=Piano Booster (FluidSynth)
Comment=A MIDI file player that teaches you how to play the piano, with FluidSynth sequencer
GenericName=Piano Teacher
Exec=pianobooster-fluidsynth
Icon=pianobooster
Terminal=false
Type=Application
Categories=Music;Education;
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Keywords=audio;midi;music;piano;education;learning;playing;songs;


# Translations
Name[gl]=Piano Booster (FluidSynth)
Comment[gl]=Un reprodutor de ficheiros MIDI que lle ensina como tocar o piano, co secuenciador FluidSynth
GenericName[gl]=Profesor de piano
Name[hi]=पियानो बूस्टर (FluidSynth)
Comment[pl]=Odtwarzacz plików MIDI, który uczy, jak grać na pianinie dzięki sekwencerowi FluidSynth
GenericName[pl]=Nauczyciel gry na pianinie
Name[pt]=Piano Booster (FluidSynth)
Comment[pt]=Um reprodutor de ficheiro MIDI que ensina a tocar piano, com o sequenciador FluidSynth
GenericName[pt]=Professor de Piano
Comment[pt_BR]=Um reprodutor de arquivos MIDI que ensina a tocar piano, com o sequenciador FluidSynth
GenericName[pt_BR]=Professor de Piano
Name[ru]=Piano Booster (FluidSynth)
Comment[ru]=Проигрыватель MIDI-файлов, который научит вас играть на пианино с помощью секвенсора FluidSynth
GenericName[ru]=Обучение пианино
Name[zh_HK]=鋼琴助推器（FluidSynth）
Comment[zh_HK]=一個 MIDI 播放器，教你如何使用 FluidSynth 音序器彈奏鋼琴
GenericName[zh_HK]=鋼琴老師
Name[is]=Píanó Booster (FluidSynth)
GenericName[is]=Píanókennari
Name[cs]=Piano Booster (FluidSynth)
Comment[cs]=Přehrávač souborů MIDI, který vás učí hře na klavír, se sekvencerem FluidSynth
GenericName[cs]=Učitel klavíru
Name[de]=Piano Booster (FluidSynth)
Comment[de]=Ein MIDI-Dateispieler, der dir beibringt, wie man Piano spielt, mit einem FluidSynth-Sequencer
GenericName[de]=Pianolehrer
Name[es]=Piano Booster (FluidSynth)
Comment[es]=Un reproductor de archivos MIDI que te enseña a tocar el piano, con el secuenciador FluidSynth
GenericName[es]=Profesor de piano
Name[uk]=Piano Booster (FluidSynth)
Comment[uk]=Програвач файлів MIDI, який навчить вас гри на піаніно за допомогою синтезатора FluidSynth
GenericName[uk]=Навчання гри на піаніно
Name[fi]=Piano Booster (FluidSynth)
Comment[fi]=MIDI-tiedostosoitin, joka opettaa sinut soittamaan pianoa FluidSynth-sekvenssillä
GenericName[fi]=Pianon opettaja
Name[fr]=Piano Booster (FluidSynth)
Comment[fr]=Un lecteur de fichiers MIDI qui vous apprend à jouer du piano, avec le séquenceur FluidSynth
GenericName[fr]=Professeur de piano
Name[nl]=Piano Booster (FluidSynth)
Comment[nl]=Een MIDI-bestandsspeler die je leert hoe je piano moet spelen - met ingebouwde FluidSynth-sequencer
GenericName[nl]=Pianoleerprogramma
