[Desktop Entry]
Type=Application
Name=Piano Booster
GenericName=Piano Teacher
GenericName[es]=Profesor de piano
GenericName[gl]=Profesor de piano
Comment=Learn the piano just by playing a game
Comment[es]=Aprender piano mientras juega
Comment[gl]=Aprender piano mentres se xoga
Icon=pianobooster
Exec=pianobooster
Terminal=false
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Categories=Audio;AudioVideo;Midi;Music;Player;Education;Qt
Keywords=audio;midi;music;piano;education;learning;playing;songs;
