[Desktop Entry]
Name=Piano Booster (TiMidity)
Comment=A MIDI file player that teaches you how to play the piano, with TiMidity sequencer
GenericName=Piano Teacher
Exec=pianobooster-timidity
Icon=pianobooster
Terminal=false
Type=Application
Categories=Music;Education;
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Keywords=audio;midi;music;piano;education;learning;playing;songs;


# Translations
Name[gl]=Piano Booster (TiMidity)
Comment[gl]=Un reprodutor de ficheiros MIDI que lle ensina como tocar o piano, co secuenciador TiMidity
GenericName[gl]=Profesor de piano
Name[hi]=पियानो बूस्टर (TiMidity)
Comment[pl]=Odtwarzacz plików MIDI, który uczy, jak grać na pianinie, za pomocą sekwencera TiMidity
GenericName[pl]=Nauczyciel gry na pianinie
Name[pt]=Piano Booster (TiMidity)
Comment[pt]=Um reprodutor de ficheiro MIDI que ensina a tocar piano, com o sequenciador TiMidity
GenericName[pt]=Professor de Piano
Comment[pt_BR]=Um reprodutor de arquivos MIDI que ensina a tocar piano, com o sequenciador TiMidity
GenericName[pt_BR]=Professor de Piano
Name[ru]=Piano Booster (TiMidity)
Comment[ru]=Проигрыватель MIDI-файлов, который научит вас играть на пианино с помощью секвенсора TiMidity
GenericName[ru]=Обучение пианино
Name[zh_HK]=鋼琴助推器（TiMidity）
Comment[zh_HK]=一個 MIDI 播放器，教你如何使用 TiMidity 音序器彈奏鋼琴
GenericName[zh_HK]=鋼琴老師
Name[is]=Píanó Booster (TiMidity)
GenericName[is]=Píanókennari
Name[cs]=Piano Booster (TiMidity)
Comment[cs]=Přehrávač souborů MIDI, který vás učí hře na klavír, se sekvencerem TiMidity
GenericName[cs]=Učitel klavíru
Name[de]=Piano Booster (TiMidity)
Comment[de]=Ein MIDI-Dateispieler, der dir beibringt, wie man Piano spielt, mit einem TiMidity-Sequencer
GenericName[de]=Pianolehrer
Name[es]=Piano Booster (TiMidity)
Comment[es]=Un reproductor de archivos MIDI que te enseña a tocar el piano, con el secuenciador TiMidity
GenericName[es]=Profesor de piano
Name[uk]=Piano Booster (TiMidity)
Comment[uk]=Програвач файлів MIDI, який навчить вас гри на піаніно за допомогою синтезатора TiMidity
GenericName[uk]=Навчання гри на піаніно
Name[fi]=Piano Booster (TiMidity)
Comment[fi]=MIDI-tiedostosoitin, joka opettaa sinut soittamaan pianoa TiMidity-sekvenssillä
GenericName[fi]=Pianon opettaja
Name[fr]=Piano Booster (TiMidity)
Comment[fr]=Un lecteur de fichiers MIDI qui vous apprend à jouer du piano, avec le séquenceur TiMidity
GenericName[fr]=Professeur de piano
Name[nl]=Piano Booster (TiMidity)
Comment[nl]=Een MIDI-bestandsspeler die je leert hoe je piano moet spelen - met ingebouwde TiMidity-sequencer
GenericName[nl]=Pianoleerprogramma
