[Desktop Entry]
Name=Piano Booster (TiMidity)
Comment=A MIDI file player that teaches you how to play the piano, with TiMidity sequencer
GenericName=Piano Teacher
Exec=pianobooster-timidity
Icon=pianobooster
Terminal=false
Type=Application
Categories=Music;Education;
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Keywords=audio;midi;music;piano;education;learning;playing;songs;


# Translations
GenericName[gl]=Profesor de piano
Name[hi]=पियानो बूस्टर (TiMidity)
Name[pt]=Piano Booster (TiMidity)
Comment[pt]=Um reprodutor de ficheiro MIDI que ensina a tocar piano, com o sequenciador TiMidity
GenericName[pt]=Professor de Piano
Comment[pt_BR]=Um reprodutor de arquivos MIDI que ensina a tocar piano, com o sequenciador TiMidity
GenericName[pt_BR]=Professor de Piano
Name[ru]=Piano Booster (TiMidity)
Comment[ru]=Проигрыватель MIDI-файлов, который научит вас играть на пианино с помощью секвенсора TiMidity
GenericName[ru]=Обучение пианино
Name[is]=Píanó Booster (TiMidity)
GenericName[is]=Píanókennari
GenericName[cs]=Učitel klavíru
Name[es]=Piano Booster (TiMidity)
Comment[es]=Un reproductor de archivos MIDI que te enseña a tocar el piano, con el secuenciador TiMidity
GenericName[es]=Profesor de piano
Name[uk]=Piano Booster (TiMidity)
Comment[uk]=Програвач файлів MIDI, який навчить вас гри на піаніно за допомогою синтезатора TiMidity
GenericName[uk]=Навчання гри на піаніно
Name[fr]=Piano Booster (TiMidity)
GenericName[fr]=Professeur de piano
